{% if in_cart %}
<form action='{% url "carts:remove" %}' method="POST">{% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <input type='submit' class="btn btn-danger px-3 py-2 styled-border border border-black" value='x'>
</form>
{% else %}
<form action='{% url "carts:update" %}' method="POST">{% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <!-- <div class="row mt-4">
        <div class="col-md-6">
            <div class="form-group d-flex">
                <div class="select-wrap">
                    <select name="" id="" class="form-control">
                        <option value="">250 grams</option>
                        <option value="">500 grams</option>
                        <option value="">1 kilogram</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="input-group col-md-6 d-flex mb-3">
            <span class="input-group-btn mr-2">
                <button type="button" class="quantity-left-minus btn" data-type="minus" data-field="">
                    <i class="ion-ios-remove"></i>
                </button>
            </span>
            <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1"
                max="100" />
            <span class="input-group-btn ml-2">
                <button type="button" class="quantity-right-plus btn" data-type="plus" data-field="">
                    <i class="ion-ios-add"></i>
                </button>
            </span>
        </div> 
    <div class="w-100"></div>
    {% comment %} <div class="col-md-12">
        <p style="color: #000;">600 kg available</p>
    </div> {% endcomment %}
    </div> -->
    {% if product in cart.products.all %}
    <div class="d-flex">
        <input type='submit' class="btn btn-danger mt-3 mr-5 px-3 py-2 styled-border border border-black"
            value='Remove'>
        <a href="{% url 'carts:cart' %}" class="mt-3 px-3 py-2 align-self-end"><span
                class="icon-shopping_cart"></span>[{{ cart.products.all.count }}]</a>
    </div>
    {% else %}
    <input type='submit' class="btn btn-black mt-3 px-3 py-2 styled-border" value='Add to Cart'>
    {% endif %}
</form>
{% endif %}